extends layout

block content
  h1= `Server Error`
  h2= `Error status code: ${err.status} - Server Error`
  p.error-p= `Human friendly error message: ${err.message}`

  button.backHome
    a.home(href=`/`) Home

  pre #{err.stack}

