extends layout.pug

block content

  article.portfolio-intro

    h1 Hi, I'm Fran, Frontend Devloper!

    p Welcome to my protfolio, where you will find some of the projects I built using the technologies I learned at Treehouse.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in data
        .cell
          a(href='/projects/' + project.id)
            img.thumbnail(src=project.image_urls[0], alt=project.project_name)
            h5= project.project_name


